body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#join_form{
    background-color: rgb(255, 255, 255);
    display: table;
    width: 650px;

    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

#main_text{
    font-size: 25px;
    font-weight: 600;

    color :rgb(255, 203, 98);
  
}

#name,#gender,#phone,#email,#email-chk,#password,#password-chk{
    white-space: nowrap;
    margin-bottom: 20px;
    margin-left: 5px;
    width: 588px;
    height: 24px;
    padding: 10px 16px;;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: x;
}

p {
    color :rgb(204, 204, 204);
    display: block;
    margin-top :-18px;
    margin-left: 5px;
    font-size: 12px;

}

#chk{
    width: 19px;
    height: 25px;
}

a{
    line-height: normal;
}

.join_button{
    margin-top: 15px;
    background: linear-gradient( to bottom, rgb(255, 104, 104), rgb(223, 36, 30) );
    color: white;
    width: 160px;
    height: 40px;
    font-size: 20px;
    border :0px;
    border-radius: 5px;
}