.email_main{
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 1px solid rgb(205, 205, 205);
    box-shadow: 1px 1px 3px 3px rgb(224, 224, 224);

}
.email_main2{
    margin-left: auto;
    margin-right:auto;
    width: 500px;
    height: 150px;
}

.email_a{
    color: rgb(245, 87, 87);
    margin-top:50px;
}

.email_button{
    border-radius: 3px;
    box-shadow: 1px 1px 3px 3px rgb(224, 224, 224);
    border: none;
    background: rgb(228, 228, 228);
    font-size: 19px;
    width: 190px;
    height: 40px;
}